body {
  background-image: url(../img/Sports.png);
}

.logo {
  font-family: 'Shojumaru', cursive;
  font-family: 'Frijole', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}